.product__content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 5px;
}

.product__item {
    width: 10%;
    background-color: #a8a8a8;
    border-radius: 10px;
    padding: 0 20px 20px;
}

.product__name {
    color: #fff;
    font-size: 16px;
}

.product__models {
    width: 100%;
}